<div id="underLayer"></div> 

<div class="navbar navbar-fixed-top"> 
    <div class="navbar-inner"> 
        <div class="container"> 
            <a class="btn btn-navbar" data-toggle="collapse" data-target="#authMenu"> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </a>
            
            <h1 style="margin:0;padding:0;line-height: 21px;"><a class="brand" href="/">Brad's Terminal</a></h1>
            
            <div id="authMenu" class="nav-collapse collapse" id="main-menu"> 
                <ul class="nav"> 
                    <li> 
                        <a href="/">Home</a> 
                    </li> 
                    <li> 
                        <a href="/blog">Blog</a> 
                    </li> 
                </ul> 
                <ul class="nav pull-right"> 
                    <% if(!user) { %> 
                        <li> 
                            <a href="/auth/bmatusiak">Login</a>  
                        </li> 
                    <% } else { %> 
                        <li> 
                            <a href="/logout">Logout</a> 
                        </li> 
                    <% } %> 
                </ul> 
            </div> 
        </div> 
    </div> 
</div>